{% raw %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>仿微信pc端</title>
    <link rel="stylesheet" href="../static/css/amazeui.min.css" />
    <link rel="stylesheet" href="../static/css/main.css" />
    <script src="../static/js/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
    <script src="https://cdn.bootcss.com/vue-resource/1.5.1/vue-resource.min.js"></script>

</head>

<body>
    <div class="box" id="app">
        <div class="wechat">

            <div class="sidestrip">
                <div class="am-dropdown" data-am-dropdown>
                    <!--头像插件-->
                    <div class="own_head am-dropdown-toggle" ></div>
                    <div class="am-dropdown-content">
                        <div class="own_head_top">
                            <div class="own_head_top_text">
                                <p class="own_name">胡歌<img :src="head_path" alt="" /></p>
                                <p class="own_numb">微信号：jsk8787682</p>
                            </div>
                            <img src="../static/images/head/15.jpg" alt="" />
                        </div>
                        <div class="own_head_bottom">
                            <p><span>地区</span>江西 九江</p>
                            <div class="own_head_bottom_img">
                                <a href=""><img src="../static/images/icon/head_1.png" /></a>
                                <a href=""><img src="../static/images/icon/head_2.png" /></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--三图标-->
                <div class="sidestrip_icon">
                    <a id="si_1" style="background: url(../static/images/icon/head_2_1.png) no-repeat;"></a>
                    <a id="si_2"></a>
                    <a id="si_3"></a>
                </div>

                <!--底部扩展键-->
                <div id="doc-dropdown-justify-js">
                    <div class="am-dropdown" id="doc-dropdown-js" style="position: initial;">
                        <div class="sidestrip_bc am-dropdown-toggle"></div>
                        <ul class="am-dropdown-content">
                            <li>
                                <a href="#" data-am-modal="{target: '#doc-modal-1', closeViaDimmer: 0, width: 400, height: 225}">意见反馈</a>
                                <div class="am-modal am-modal-no-btn" tabindex="-1" id="doc-modal-1">
                                    <div class="am-modal-dialog">
                                        <div class="am-modal-hd">Modal 标题
                                            <a href="javascript: void(0)" class="am-close am-close-spin"
                                                data-am-modal-close>&times;</a>
                                        </div>
                                        <div class="am-modal-bd">
                                            Modal 内容。本 Modal 无法通过遮罩层关闭。
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li><a href="#">备份与恢复</a></li>
                            <li><a href="#">设置</a></li>
                            <li><a href="/logout/">注销</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <!--聊天列表-->
            <div class="middle on">
                <div class="wx_search">
                    <input type="text" placeholder="搜索" />
                    <button>+</button>
                </div>
                <div class="office_text">
                    <ul class="user_list">

                        <li>
                            <span @click="chenge">
                                <div class="user_head"><img src="../static/images/own_head.jpg" /></div>
                                <div class="user_text">
                                    <p class="user_name" id="1">吴彦祖</p>
                                    <p class="user_message">[小程序]</p>
                                </div>
                                <div class="user_time">上午 11：03</div>
                          
                        </li>
                       

                    </ul>
                </div>
            </div>

            <!--好友列表-->
            <div class="middle">
                <div class="wx_search">
                    <input type="text" placeholder="搜索" />
                    <button>+</button>
                </div>
                <div class="office_text">
                    <ul class="friends_list">
                        <li>
                            <p>新的朋友</p>
                            <div class="friends_box">
                                <div class="user_head"><img src="../static/images/head/1.jpg" /></div>
                                <div class="friends_text">
                                    <p class="user_name">新的朋友</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <p>公众号</p>
                            <div class="friends_box">
                                <div class="user_head"><img src="../static/images/head/2.jpg" /></div>
                                <div class="friends_text">
                                    <p class="user_name">公众号</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <p>好友列表</p>
                            <div class="friends_box" v-for=" n in friend" id='n.id'>
                                <div class="user_head"><img :src='n.head_path' /></div>
                                <div class="friends_text">
                                    <p class="user_name">{{ n.friendname }}</p>
                                </div>
                            </div>
                        </li>
                       <!--  <li>
                            <p>B</p>
                            <div class="friends_box">
                                <div class="user_head"><img src="../static/images/head/6.jpg" /></div>
                                <div class="friends_text">
                                    <p class="user_name">苏笑言</p>
                                </div>
                            </div>
                            <div class="friends_box">
                                <div class="user_head"><img src="../static/images/head/7.jpg" /></div>
                                <div class="friends_text">
                                    <p class="user_name">往事不再提</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <p>C</p>
                            <div class="friends_box">
                                <div class="user_head"><img src="../static/images/head/8.jpg" /></div>
                                <div class="friends_text">
                                    <p class="user_name">夏继涛</p>
                                </div>
                            </div>
                            <div class="friends_box">
                                <div class="user_head"><img src="../static/images/head/9.jpg" /></div>
                                <div class="friends_text">
                                    <p class="user_name">早安无恙</p>
                                </div>
                            </div>
                            <div class="friends_box">
                                <div class="user_head"><img src="../static/images/head/10.jpg" /></div>
                                <div class="friends_text">
                                    <p class="user_name">王鹏</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <p>D</p>
                            <div class="friends_box">
                                <div class="user_head"><img src="../static/images/head/11.jpg" /></div>
                                <div class="friends_text">
                                    <p class="user_name">涨了潮了</p>
                                </div>
                            </div>
                            <div class="friends_box">
                                <div class="user_head"><img src="../static/images/head/12.jpg" /></div>
                                <div class="friends_text">
                                    <p class="user_name">Ktz丶中融资</p>
                                </div>
                            </div>
                        </li> -->
                    </ul>
                </div>
            </div>

            <!--程序列表-->
            <div class="middle">
                <div class="wx_search">
                    <input type="text" placeholder="搜索收藏内容" />
                    <button>+</button>
                </div>
                <div class="office_text">
                    <ul class="icon_list">
                        <span @click="display_content">
                            <li>
                                <div class="icon"><img src="../static/images/icon/朋友圈.png" width="19px" height="19px"
                                        alt="" /></div>
                                <span>朋友圈</span>
                            </li>
                        </span>
                        <li>
                            <div class="icon"><img src="../static/images/icon/icon5.png" alt="" /></div>
                            <span>音乐</span>
                        </li>
                    </ul>
                </div>
            </div>

            <!--聊天窗口-->
            <div class="talk_window">
                <div class="windows_top">
                    <div class="windows_top_box">
                        <!--<span>早安无恙</span>-->
                        <ul class="window_icon">
                            <li><a href=""><img src="../static/images/icon/icon7.png" /></a></li>
                            <li><a href=""><img src="../static/images/icon/icon8.png" /></a></li>
                            <li><a href=""><img src="../static/images/icon/icon9.png" /></a></li>
                            <li><a href=""><img src="../static/images/icon/icon10.png" /></a></li>
                        </ul>
                        <button @click="show_display_edit" style=" margin-left:15px; margin-top: 15px">+</button>
                        <div class="extend" class="am-btn am-btn-success" data-am-offcanvas="{target: '#doc-oc-demo3'}"></div>
                        <!-- 侧边栏内容 -->
                        <div id="doc-oc-demo3" class="am-offcanvas">
                            <div class="am-offcanvas-bar am-offcanvas-bar-flip">
                                <div class="am-offcanvas-content">
                                    <p><a href="http://music.163.com/#/song?id=385554" target="_blank">网易音乐</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--聊天内容-->
                <!-- { 展示和一号聊天内容 #} -->
                <span v-if="seen === true ">
                    <div class="windows_body">
                        <div class="office_text" style="height: 100%; overflow: auto; ">
                            <ul class="content" id="chatbox">
                                <span v-for=" m in messages">

                                    <span v-if="m.who!=chat_username">
                                        <li class="me"><img v-bind:src="head_path" title="胡歌"><span>{{
                                                m.cont}}</span>
                                        </li>
                                    </span>

                                    <span v-if="m.who == chat_username">
                                        <li class="other"><img src="../static/images/own_head.jpg" title="吴彦祖"><span>{{
                                                m.cont}}</span>
                                        </li>
                                    </span>
                                </span>
                            </ul>
                        </div>
                    </div>
                    <div class="windows_input" id="talkbox">
                        <div class="input_icon">
                            <a href="javascript:"></a>
                            <a href="javascript:"></a>
                            <a href="javascript:"></a>
                            <a href="javascript:"></a>
                            <a href="javascript:"></a>
                            <a href="javascript:"></a>
                        </div>
                        <div class="input_box">
                            <textarea name="" rows="" cols="" id="input_box" v-model="inputMessage"></textarea>
                            <button id="send" @click="send_messages">发送（S）</button>
                        </div>
                    </div>
                </span>


                <div style="overflow: auto; height: 600px;">
                    <!-- {# 展示动态 #} -->
                    <div class="friends_content" v-if="display_content1=== true" v-for="m in Circle_messages" v-bind:id="m.messageid">
                        <div style="width: 100%; height: 40px;">
                            <div class="user_head"><img v-bind:src="m.head_path" /></div>
                            <div class="user_text">
                                <h2 class="user_name">{{ m.username }}</h2>
                            </div>
                        </div>
                        <div class="content">
                            <p class="a"> {{ m.content }}</p>
                        </div>
                        <div class="content_time">
                            <span class="time">
                                <p>{{ m.postedtime }}</p>
                            </span>
                            <span class="images">
                                <a> <img v-if="m.liked == 'false'" src="../static/images/icon/icon19_1.png" @click='chenge_liked(m.messageid)'
                                        width="20px"></a>
                                <a> <img v-if="m.liked == 'true'" src="../static/images/icon/icon19_2.png" @click='chenge_liked(m.messageid)'
                                        width="20px"></a>
                                <a> <img @click="popup_comment(m.messageid)" src="../static/images/icon/评论.png" width="20px"></a>
                                <a href=""> <img src="../static/images/icon/转发.png" width="20px"></a>
                            </span>
                        </div>

                        <!-- 评论 -->
                        <div v-for='n in show_comments'>
                            <div class="comment" v-if="n.circle_messages_id == m.messageid">
                                <!-- 单个一条评论 -->
                                <a class="comment_name">{{ n.comment_name }}:</a>
                                <p>{{ n.comment }}</p>
                            </div>
                        </div>

                        <div style="widows: 200px; height:50px; margin: 0; padding: 0; display:none; display: block"
                            v-if="m.show_comment === 'true'">
                            <input id="comment_input" type="text" @keyup.enter="comment_add(m.messageid)" style="font-size: 16px; margin: 5 auto; width: 520px; height: 50px; background-color: darkgray">
                        </div>
                    </div>

                    <!-- {# 发表动态 #} -->
                    <div class="edit_input" v-if="display_edit === true"> 
                        <div>
                            <textarea id="edit_add" style="width: 100%; height: 400px; font-size: 14px" placeholder="这一刻的想法..."></textarea>
                        </div>
                        <div id="upload">

                        </div>
                        <button class="commit" @click="edit_add" style=" margin-left: 250px; margin-top: 20px ">发表</button>

                    </div>





                </div>

            </div>
        </div>
    </div>
    <script type="text/javascript" src="../static/js/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/amazeui.min.js"></script>
    <script type="text/javascript" src="../static/js/zUI.js"></script>
    <script type="text/javascript" src="../static/js/wechat.js"></script>
    <script type="text/javascript" src="/static/js/my-js.js"></script>
    <script type="text/javascript">
        //三图标
        window.onload = function () {
            function a() {
                var si1 = document.getElementById('si_1');
                var si2 = document.getElementById('si_2');
                var si3 = document.getElementById('si_3');
                si1.onclick = function () {
                    si1.style.background = "url(../static/images/icon/head_2_1.png) no-repeat";
                    si2.style.background = "";
                    si3.style.background = "";
                };
                si2.onclick = function () {
                    si2.style.background = "url(../static/images/icon/head_3_1.png) no-repeat";
                    si1.style.background = "";
                    si3.style.background = "";
                };
                si3.onclick = function () {
                    si3.style.background = "url(../static/images/icon/head_4_1.png) no-repeat";
                    si1.style.background = "";
                    si2.style.background = "";
                };
            }

            function b() {
                var text = document.getElementById('input_box');
                var chat = document.getElementById('chatbox');
                var btn = document.getElementById('send');
                var talk = document.getElementById('talkbox');
                b.onclick = function () {
                    if (text.value == '') {
                        alert('不能发送空消息');
                    } else {
                        chat.innerHTML += '' +
                            '<li class="me"><img src="../static/images/own_head.jpg"><span>' +
                            '' + text.value + '</span></li>';
                        text.value = '';
                        chat.scrollTop = chat.scrollHeight;
                        talk.style.background = "#fff";
                        text.style.background = "#fff";
                    }
                }
            }
            a();
            b();
            app.show_friend();
            app.show_Circle_messages();
            app.getusername();
            app.comment_get();
        };
    </script>
</body>

</html>
{% endraw %}